Package: pocketsnes
Version:
Description: RetroGame port of PocketSNES
Section: emus
Priority: optional
Maintainer: pingflood
Architecture: mipsel
Homepage: https://github.com/pingflood/PocketSNES
Depends:
Source: https://github.com/pingflood/PocketSNES
